header{
    display:flex;
    background-color: #1F2937;
    color:#F9FAF8;
    justify-content: space-between;
    align-items: center;
    padding:30px;
}

.logo{
    margin-right: auto;
    margin-left:75px;
    font-size: 24px;
}

header ul{
    display:flex;
    padding:0;
    list-style-type: none;
    margin-left: auto;
    margin-right: 75px;
}

li{margin:20px;}

.heading{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding:30px;
    color:#F9FAF8
}

.placeholder-grey{
    flex-basis: 300px;
    flex-shrink: 0;
    height: 100px;
    padding: 100px;
    background-color: lightgrey;
    color:white;
    margin-right: 75px;
}

.intro{
    flex-basis: 300px;
    margin-left: 75px;
}

.infobox div{
    border-style: solid;
    width:110px;
    height:75px;
    border-radius: 25px;
}

.infobox{
    width:120px;
    flex-shrink: 0;
    margin:30px;
}

.boxes{display: flex;
justify-content: center;}

.info-heading{
   display: flex;
   justify-content: center;
   font-size:36px;
   font-weight:bolder;
   color:#1F2937
}

.quote{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-basis: 400px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    background-color: #E5E7EB;
    color:#1F2937;
    padding:50px;
}

.signup{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    width:700px;
    margin:50px auto;
    padding:20px;
    border-radius: 25px;

}

.signup div{
    margin-right: auto;
    color:#F9FAF8;
}

button{
    margin-left: auto;
    color:#F9FAF8;
    height:40px;
    background-color: #3882F6;
    border-style: solid;
    border-color: #F9FAF8;
    border-radius: 25px;
    padding:5px 10px;
}

footer{
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
    padding:10px;
}

body{margin:0px;}