header{
    display:flex;
    background-color: navy;
    color:white;
    justify-content: space-between;
    align-items: center;
    padding:30px;
}

.logo{
    margin-right: auto;
    margin-left:30px;
}

header ul{
    display:flex;
    padding:0;
    list-style-type: none;
    margin-left: auto;
    margin-right: 30px;
}

li{margin:20px;}

.heading{
    display: flex;
    justify-content: space-between;
    background-color: navy;
    padding:30px;
}

.placeholder-grey{
    flex-basis: 300px;
    flex-shrink: 0;
    height: 100px;
    padding: 100px;
    background-color: lightgrey;
    color:white;
    margin-right: 30px;
}

.intro{
    flex-basis: 300px;
    margin-left: 30px;
}

.infobox div{
    border-style: solid;
    width:110px;
    height:75px;
}

.infobox{
    width:120px;
    flex-shrink: 0;
    margin:30px;
}

.boxes{display: flex;
justify-content: center;}

.info-heading{
   display: flex;
   justify-content: center;
}

.quote{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-basis: 400px;
    font-size: 20px;
    font-style: italic;
    background-color: lightgray;
    color:darkgray;
    padding:50px;
}

.signup{
    display:flex;
    justify-content: center;
    background-color: blue;
    width:500px;
    margin:50px auto;
    padding:20px;
}

.signup div{
    margin-right: auto;
}

.signup button{
    margin-left: auto;
}

footer{
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
    padding:10px;
}

body{margin:0px;}